@model Real_State_project.Models.users

@{
                /**/

                ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Real Estate Home</title>
    <link rel="stylesheet" href="~/content/bootstrap.css">
    <link rel="stylesheet" href="~/content/font-awesome.min.css">
    <link rel="stylesheet" href="~/content/adminAdd_style.css">
    <link rel="icon" href="~/img/house.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">


    <style>
        .modal-footer a,
        .modal-footer a:hover {
            text-decoration: none;
            color: #fff
        }
    </style>



</head>

<body>


    <!-- start header -->
    <div class="header">
        <div class="slider">
            <div class="intro text-center">
                <h2>Register Form</h2>
            </div>
        </div>

    </div>
    <!-- end header -->
    <!--- start admin profile -->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4 class="brand-name">Real <span>Estate</span> Home</h4>
                <br>
                
            </div>

            <div class="col-sm-9">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <div class="col-sm-12">





                                @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {


















                                    <form id="editMember" class="content">
                                        <input type="hidden" id="Member_id_edit" name="Member_id_edit">
                                        <h2>Register</h2>
                                        <div class="modal-body">


                                            <div class="form-horizontal">

                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <label>Email</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <label>First Name</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <label>Last Name</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <label>Phone</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <label>photo</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <input type="file" name="photo" id="img" class="text-danger" required />
                                                            @Html.ValidationMessageFor(model => model.photo, "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <label>jop description</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            @Html.EditorFor(model => model.jobDescription, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.jobDescription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <h5>1 = Customer // 2 = ProjectManager // 3 = TeamLeader // 4 = JuniorEngineer</h5>
                                                        <label>usertypeId</label>
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.usertypeId, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.usertypeId, "", new { @class = "text-danger" })
                                                        </div>
                                                        <br />
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <div class="modal-footer">
                                                            <input type="submit" value="Register" class="btn green btn-info" />
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--- end admin profile -->
    <!-- start footer -->
    <div class="footer text-center">
        <div class="container">
            <i class="fa fa-facebook fa-2x fa-fw"></i>
            <i class="fa fa-twitter fa-2x fa-fw"></i>
            <i class="fa fa-google-plus fa-2x fa-fw"></i>
            <i class="fa fa-pinterest fa-2x fa-fw"></i>
            <i class="fa fa-instagram fa-2x fa-fw"></i>
            <i class="fa fa-stumbleupon fa-2x fa-fw"></i>
            <i class="fa fa-rss fa-2x fa-fw"></i>

            <p>&copy; 2019 IA Team</p>
        </div>
    </div>
    <!-- end footer -->


    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>